body {
    background-color:goldenrod;
}

h1 {
    text-align: center;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}